body{
	font-family: 'Open Sans Condensed', sans-serif;
}

.container{
	display: grid;
    justify-items: center;
	margin: 5rem auto;
}

h1{
	font-size: 2.3em;
  background: -webkit-linear-gradient(#eee, #306485);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn{
	color: white;
    background: linear-gradient(180deg, #65bce8 0%, #306485 100%);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 600;
	border-radius: 0.5rem;
    border: none;
	cursor: pointer;
}

.inline{
	padding: 10px;
	vertical-align: top;
	width: 50%;
}

.inline label{
	font-size: 1.3em;
	font-weight: 700;
}

.inline input{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	font-size: 1em;
	font-weight: 300;
	padding: 5px;
	width: 100%;
}
